@model Models.Media
@{
    ViewBag.PageTitle = "Détails";
    string searchString = Session["SearchString"] != null ? (string)Session["SearchString"] : "";
    bool isSearchActive = Session["Search"] != null ? (bool)Session["Search"] : false;
}

<div id="detailsPanel" class="detailsPanel">
    @Html.Partial("GetMediaDetails", Model)
</div>

@section Scripts {
    <script>
        let likes_ARP;

        $(() => {
            newSession(600);
            sessionStorage.setItem("WasInDetails", "1");

            likes_ARP = new AutoRefreshedPanel("headerLikesPanel", "/Medias/GetMediaLikes", 5, null);

            let isSearchActive = "@isSearchActive" === "True";
            let searchStr = "@searchString";

            if (isSearchActive && searchStr.length >= 3) {
                if (typeof highlight === "function") {
                    $(".mediaTitle").each(function () { highlight(searchStr, this); });
                    $(".mediaDescription").each(function () { highlight(searchStr, this); });
                }
            }
        });
    </script>
}