@model Models.Media
@{
    ViewBag.PageTitle = "Détails";

    string searchString = Session["SearchString"] != null ? (string)Session["SearchString"] : "";
    bool isSearchActive = Session["Search"] != null ? (bool)Session["Search"] : false;
}

<div id="detailsPanel" class="detailsPanel">
</div>

@section Scripts {
    <script>
        let mediaDetails_ARP;

        $(() => {
            newSession(600);
            mediaDetails_ARP = new AutoRefreshedPanel("detailsPanel", "/Medias/GetMediaDetails", 5, mediaDetailsPostRefresh);
            sessionStorage.setItem("WasInDetails", "1");
        });

        function mediaDetailsPostRefresh() {
            let isSearchActive = "@isSearchActive" === "True";
            let searchStr = "@searchString";

            if (isSearchActive && searchStr.length >= 3) {
                if (typeof highlight === "function") {
                    $(".mediaTitle").each(function () { highlight(searchStr, this); });
                    $(".mediaDescription").each(function () { highlight(searchStr, this); });
                }
            }
        }
    </script>
}